@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
}
.Page {
    width: 100%;
    min-height: calc(100vh - 140px);
    padding: 80px 0;
    box-sizing: border-box;
}
.Wrap {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
    box-sizing: border-box;
}
.SmallWrap {
    width: 100%;
    max-width: 380px;
    padding: 0 20px;
    margin: auto;
}
.Form {
    padding: 80px 30px;
    border-radius: 10px;
    box-sizing: border-box;
}
.SmallForm {
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}
.FormInput {
    background: #eee;
    padding: 16px;
    width: 100%;
    margin: 8px auto;
    border: none;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
.FormInput::placeholder {
    font-weight: 600;
    color: #777;
}

/* Text */
.TextCenter {
    text-align: center;
}
/* HeadLine */
.HL01 {
    font-size: 96px;
}
.HL02 {
    font-size: 60px;
}
.HL03 {
    font-size: 48px;
}
.HL04 {
    font-size: 34px;
}
.HL05 {
    font-size: 24px;
}
.HL06 {
    font-size: 20px;
}
/* SubTitle */
.ST01 {
    font-size: 16px;
}
.ST02 {
    font-size: 14px;
}
/* Body */
.BD01 {
    font-size: 16px;
}
.BD02 {
    font-size: 14px;
}
/* Caption */
.CT01 {
    font-size: 14px;
}
.CT02 {
    font-size: 12px;
}
/* Button */
.Btn {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}
.Btn:hover {
    opacity: 0.7;
    transition: all 0.3s;
}
.LargeBtn {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
}

/* Float */
.BtnWrap {
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.FLR {
    float: right;
}

/* modeChangeWrap */
.modeChangeWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    float: right;
    margin-bottom: 50px;
}
.modeChangeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.modeChangeBtnActive{
    background-color: #FD8800;
    border-radius: 10px;
}

button {
    cursor: pointer;
}