.Login {
    padding: 120px 0;
}
.LoginWrap {
    border-radius: 10px;
    width: 100%;
    max-width: 430px;
    padding: 50px 80px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LoginWrap > div {
    width: 100%;
}
.LoginWrap > div > .HL05 {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.LoginWrap > div > .email, .password {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.autoLoginWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.LoginBtn {
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
}