.Card {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.Card .CardHeader {
    width: 100%;
    height: 200px;
    background-color: gray;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card .CardHeader > img {
    height: 100%;
}
.Card .CardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 15px;
    background-color: rgb(49, 49, 49);
    transition: all 0.3s;
    box-sizing: border-box;
}
.Card:hover .CardHeader {
    opacity: 0.7;
}
.Card:hover .CardBody {
    height: 270px;
}
.Card .CardBody .CardBodyHead h3 {
    margin-bottom: 10px;
}
.Card .CardBodyDesc {
    opacity: 0;
    transition: all 0.3s;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Card .CardBodyDesc .HTML > p > img {
    display: none;
}
.Card:hover .CardBodyDesc {
    opacity: 1;
}
.Card .CardBodyFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Card .CardBodyFooter::after {
    content: "";
    position: absolute;
    left: 0px;
    top: -10px;
    height: 1px;
    width: 100%;
    background: #FFF;
}