.TextEditorWrap {
    width: 100%;
    height: 100vh;
    position: relative;
}

.TextEditor {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    height: calc(100vh - 72px);
    padding : 112px 60px 30px;
    box-sizing: border-box;
    background-color: #FFF;
    display: flex;
    flex-direction: column; 
    color : #000;
    overflow: scroll;
    overflow-x: hidden;
}

.TextEditor select {
    width: 170px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin-bottom: 30px;
}
.TextEditor .TitleInput {
    width: 100%;
    min-height: 100px;
    font-size: 30px;
    color: #202020;
    margin: 18px auto 17px;
    padding-bottom: 26px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    resize: none;
    box-sizing: border-box;
}
.TextEditor .TitleInput:focus {
    outline: none;
}
.TextEditor .TitleInput::placeholder {
    color: #777;
}
.keywordWrap {
    width: 100%;
    display: flex;
    flex-direction: column; 
    padding: 30px 0;
}

.keywordWrap input {
    font-size: 24px;
    border: none;
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.keywordWrap input:focus {
    outline: none;
}
.quill .ql-toolbar {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    z-index: 1;
}

.ql-container.ql-snow {
    border: none;
}
.quill .ql-editor {
    padding: 0;
    width: 100%;
    max-width: 1040px;
    min-height: 460px;
    background-color: #fff;
    margin: 30px auto 0;
}
.ql-editor.ql-blank::before {
    left: 0;
    font-size: 16px;
    font-style: normal;
}
.TextEditorBottom {
    border-top: 1px solid #000;
    height: 72px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
.TextEditorBottomWrap {
    width: 100%;
    max-width: 1040px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}