.Post .CardWrap {
    width: 33.3%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}
.Post .PostControlWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}